version: '2.3'
services:
  postgresql:
    image: postgres:12-alpine
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_DB=demo
    ports:
      - 5432:5432
    healthcheck:
      test: pg_isready -U postgres
      interval: 20s
      timeout: 5s
      retries: 6
